apiVersion: v1
kind: PersistentVolume
metadata:
  name: ajj-sqlite-pv
  labels:
    app: ajj-app
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/mnt/data/ajj-sqlite"
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ajj-sqlite-pvc
  namespace: ajj-jujitsu
  labels:
    app: ajj-app
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

# Made with Bob
